body{
    background-color: green;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 700px
}

button{
    background-color: rgb(24, 179, 158);
    color: white;
    font-family: "Bai Jumjuree", sans-serif;
}